$defaultTransition: 0.1s ease-in;

// module own CSS styles

form[action$="AdminOnSteroids"] {

  label {
    &:hover {
      cursor: pointer;
    }
  }

  #wrap_Inputfield_RenoTweaks {
    li.disabled {
      opacity: 0.7;
      label {
        &:hover {
          cursor: not-allowed !important;
        }
      }
    }
  }

  .AdminDataTable tr td:first-child {
    color: inherit !important;
  }

  input[type="checkbox"] {
    //margin-bottom: 16px;
    vertical-align: top;
    position: relative;
    //margin-right: 30px;
    top: 5px;
    //visibility: hidden;
    //display: none;

    &:hover {
      cursor: pointer;
    }
    + span {
      opacity: 0.7;
      white-space: normal;
      display: inline-block;
      padding-right: 20px;
      //&:before {
      //  visibility: visible;
      //  content: "•";
      //  color: rgba(0, 0, 0, 0.3);
      //  width: 36px;
      //  height: 18px;
      //  margin-right: 8px;
      //  display: inline-block;
      //  //background: #fff;
      //  font-size: 47px;
      //  border: 1px solid #b1c3d4;
      //  background: #f0f3f7;
      //  border-radius: 10px;
      //  line-height: 17px;
      //  transition: all 0.12s;
      //  position: relative;
      //  //left: -16px;
      //  top: 11px;
      //}
    }
    &:checked {
      + span {
        opacity: 1;
        //&:before {
        //  color: rgba(0, 0, 0, 0.6);
        //  text-indent: 17px;
        //}
      }
    }
  }

  input#Inputfield_RenoTweaks_singleClickSidebarHeaders,
  input#Inputfield_RenoTweaks_stickyHeaderCompact,
  input#Inputfield_RenoTweaks_oneLineSidebarSubmenus {
    margin-left: 21px;
  }
}

//form[action$="AdminOnSteroids"] {
//
//  label {
//    &:hover {
//      cursor: pointer;
//    }
//  }
//
//  input[type="checkbox"] {
//    //margin-bottom: 16px;
//    vertical-align: top;
//    position: relative;
//    //margin-right: 30px;
//    top: 5px;
//    visibility: hidden;
//    display: none;
//
//    &:hover {
//      cursor: pointer;
//    }
//    + span {
//      opacity: 0.7;
//      white-space: normal;
//      display: inline-block;
//      padding-right: 20px;
//      &:before {
//        visibility: visible;
//        content: "•";
//        color: rgba(0, 0, 0, 0.3);
//        width: 36px;
//        height: 18px;
//        margin-right: 8px;
//        display: inline-block;
//        //background: #fff;
//        font-size: 47px;
//        border: 1px solid #b1c3d4;
//        background: #f0f3f7;
//        border-radius: 10px;
//        line-height: 17px;
//        transition: all 0.12s;
//        position: relative;
//        //left: -16px;
//        top: 11px;
//      }
//    }
//    &:checked {
//      + span {
//        opacity: 1;
//        &:before {
//          color: rgba(0, 0, 0, 0.6);
//          text-indent: 17px;
//        }
//      }
//    }
//  }
//
//  input#Inputfield_RenoTweaks_singleClickSidebarHeaders + span,
//  input#Inputfield_RenoTweaks_oneLineSidebarSubmenus + span {
//    margin-left: 42px;
//  }
//}

// tweak styles

// fixScrollbarJump
html.aos_fixScrollbarJump:not(.modal) {
  width: 100vw;
  overflow-x: hidden;
  #headline,
  #breadcrumbs,
  #masthead {
    width: 100vw !important;
  }
}

/*Reno theme tweaks*/
html.AdminThemeReno {

  // disable all anims
  body:not(.pw-ready) {
    #branding:not(.hide), #masthead:not(.full), #sidebar:not(.hide), #main:not(.full), .main-nav-toggle:not(.full) {
      transition: none;
    }
  }

  // stickyHeader
  &.aos_stickyHeader:not(.modal) {

    @media only screen and (min-width: 960px) {

      // fix for ckeditor max plugin
      .cke_top {
        z-index: 500;
      }

      #masthead,
      #branding,
      .main-nav-toggle {
        position: fixed;
      }
      #masthead {
        width: 100%;
        z-index: 20;
        * {
          z-index: 21;
        }
      }
      #breadcrumbs {
        position: fixed;
        top: 52px;
        //height: 47px;
        width: 100%;
        z-index: 5;
        padding-top: 1em;
        padding-bottom: 0.25em;
        border-bottom: none;
      }
      #headline {
        top: 88px;
        position: fixed;
        width: 100%;
        left: 0;
        z-index: 2;
        border-bottom: 1px solid rgba(#000, 0.1);
        padding: 1.33em 0 1.33em 1.33em;
        transition: padding-top 0.12s, padding-bottom 0.12s !important;
      }
      #main {
        padding-top: 156px;
        &:not(.closed) #headline {
          padding-left: 232px;
        }
      }
      ul.quicklinks {
        top: 52px !important;
      }

      body.scrolled {
        #headline {
          box-shadow: 0 4px 8px -1px rgba(0, 0, 0, 0.1);
          padding: 1em 0 1em 1.33em;
        }
      }

      &.aos_AlwaysShowSearch {
        #search {
          position: fixed;
          z-index: 80;
        }
      }
    }

    @media only screen and (min-width: 1200px) {
      #main {
        &:not(.closed) #headline {
          padding-left: 252px;
        }
      }
    }

    body.pw-ready {
      #headline {
        transition: padding-left $defaultTransition;
      }
    }
  }

  // stickyHeaderCompact
  &.aos_stickyHeaderCompact:not(.modal) {

    @media only screen and (min-width: 960px) {

      // fix for ckeditor max plugin
      .cke_top {
        z-index: 500;
      }

      //#masthead,
      //  //#branding,
      //.main-nav-toggle {
      //  position: fixed;
      //}
      #branding,
      .main-nav-toggle {
        display: none;
      }
      #masthead {
        top: -52px;
      }
      #breadcrumbs {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 5;
        padding-top: 1em;
        padding-bottom: 0.25em;
        border-bottom: none;
      }
      #sidebar {
        padding-top: 0;
      }
      #headline {
        top: 33px;
        position: fixed;
        width: 100%;
        left: 0;
        z-index: 2;
        border-bottom: 1px solid rgba(#000, 0.1);
        padding: 1.33em 0 1.33em 1.33em;
        //transition: padding-top 0.12s, padding-bottom 0.12s !important;
        box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.07);
      }
      #main {
        position: absolute;
        left: 0;
        overflow-x: hidden;
        right: 0;
        bottom: 0;
        top: 103px;
        padding-top: 0;
        //background: #F0F3F7;
        &:not(.closed) #headline {
          padding-left: 232px;
        }
      }
      #wrap #search {
        left: auto;
        top: 42px !important;
        transform: none;
        max-width: 300px;
        right: 0;
        z-index: 5;
        input {
          background: transparent;
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);
          border-radius: 0;
          padding: 0.6em 3em 0.6em 1em;
          &:focus {
            background: #F0F3F7;
          }
        }
        label {
          right: 0;
          left: auto !important;
          margin-top: 2px;
        }
      }

      #ProcessPageSearchAutocomplete {
        top: 44px !important;
        box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2) !important;
      }

      #ProcessPageSearchForm #ProcessPageSearchStatus {
        right: 3.1em;
      }

      #masthead #topnav {
        top: 52px;
        .avatar.dropdown {
          margin-right: -12px !important;

        }
        a, a:hover {
          color: inherit !important;
        }
        li.dropdown ul {
          box-shadow: 0 1px 7px rgba(0, 0, 0, 0.2);
        }
      }

      &.aos_AlwaysShowSearch {
        #search {
          position: fixed;
          z-index: 80;
        }
      }
    }

    @media only screen and (min-width: 1200px) {
      #main {
        &:not(.closed) #headline {
          padding-left: 252px;
        }
      }
    }

    body.pw-ready {
      #headline {
        transition: padding-left $defaultTransition;
      }
      #wrap #search input {
        transition: background $defaultTransition;
      }
    }
  }

  // AlwaysShowSearch
  &.aos_AlwaysShowSearch:not(.modal),
  &.aos_stickyHeaderCompact {
    @media only screen and (min-width: 960px) {
      #search {
        top: 0 !important;
        max-width: 480px;
        left: 50%;
        transform: translateX(-50%);
        transition: none !important;
        form {
          max-width: 100%;
        }
        &:before {
          display: none;
        }
        #ProcessPageSearchForm label {
          width: 24px;
        }
        .search-close {
          display: none;
        }
      }
    }
    #topnav .search-toggle {
      display: none !important;
    }
  }

  // autoHideSidebar
  &.aos_autoHideSidebar:not(.modal) {
    @media only screen and (min-width: 960px) {

      //padding-left: 1em;

      #headline {
        padding-left: 1.5em !important;
      }

      // extra space on left to avoid accidental hover on sidebar toggle
      #branding,
      #content,
      #headline,
      #breadcrumbs,
      #notices .NoticeMessage,
      #masthead {
        border-left: 16px solid transparent;
      }

      #main {
        margin-left: 0;
      }

      #notices {
        left: -1em;
        .NoticeMessage {
          position: relative;
          //left: -1em;
          padding-left: 2.5em;
        }
      }
      //
      //#breadcrumbs {
      //  padding-left: 3.5em;
      //  transform: translateX(-2em);
      //}

      #sidebar.closed, #sidebar.hide,
      #branding.closed {
        left: 0 !important;
      }

      .main-nav-toggle {
        display: none;
      }

      #sidebar {
        transform: translateX(-100%);

        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 100%;
          width: 0.7em;
          height: 100%;
          background: transparent;
        }
        &:hover {
          transform: translateX(0);
        }
      }
      body.pw-ready {
        #sidebar {
          transition: transform 0.12s;
        }
      }
    }
  }

  // headButtonNextToTitle
  &.aos_headButtonNextToTitle {
    @media only screen and (min-width: 960px) {
      // head_button next to title
      #headline {
        #head_button {
          float: none;
          display: inline-block;
          margin-bottom: -1em;

          button {
            //background: transparent !important;
            //color: inherit !important;
            //border: 1px solid rgba(#000, 0.16) !important;
          }
        }
        #title {
          float: left;
          padding-right: 2em;
        }
      }
    }
  }

  // stickySidebar
  &.aos_stickySidebar {
    @media only screen and (min-width: 960px) {
      #sidebar {
        position: fixed;
        z-index: 19;
      }
    }
  }

  // alwaysVisibleSidebarItems
  &.aos_alwaysVisibleSidebarItems {
    @media only screen and (min-width: 960px) {
      #sidebar {
        z-index: 19;
        #main-nav {
          > li {
            > a {
              font-weight: 600;
              //header icons
              > i {
                margin: 5px 8px 0 0;
                float: right;
              }
            }
            a {
              padding: 0.75em 0.5em 0.7em 1.3em;
              background-color: inherit !important;
              &.has-quicklinks {
                span {
                  display: inline-block;
                  padding-right: 18px;
                }
              }
              i.quicklink-open {
                visibility: visible;
                opacity: 0.33;
                padding: 5px 10px;
                color: inherit !important;
                &:hover {
                  opacity: 1;
                  color: inherit !important;
                }
              }
              &:after {
                display: none;
              }
            }
            > ul {
              display: block !important;
              overflow: visible !important;
              height: auto !important;
              padding: 12px 14px 6px 14px !important;
              > li {
                display: inline-block;
                font-size: 0.92em;
                a {
                  padding: 0.33em 0.5em;
                  opacity: 0.84;
                  &.current {
                    background: transparent;
                    color: inherit;
                    opacity: 1;
                    font-weight: 600;
                    span {
                      i {
                        display: none;
                      }
                    }
                  }
                  &:hover {
                    opacity: 1;
                    span {
                      text-decoration: underline;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  // hideSidebarQuickLinks
  &.aos_hideSidebarQuickLinks {
    //@media only screen and (min-width: 960px) {
    #sidebar #main-nav > li a {
      span {
        padding-right: 0 !important;
      }
      i.quicklink-open {
        display: none;
      }
    }
    //}
  }

  // oneLineSidebarSubmenus (only with autoHideSidebar)
  &.aos_oneLineSidebarSubmenus.aos_autoHideSidebar {
    //@media only screen and (min-width: 960px) {
    #sidebar {
      z-index: 19;
      width: auto;
      min-width: 210px;
    }
    //}
  }

  // closeNoticeButtonToLeft
  &.aos_closeNoticeButtonToLeft {
    #notices li .notice-remove {
      float: left;
      padding: 0 1em 0 0;
    }
  }

}

//Default theme tweaks
// note: the default theme adds theme name class only to body
body.AdminThemeDefault {

  // stickyHeader
  &.aos_stickyHeader:not(.modal) {
    @media only screen and (min-width: 960px) {

      padding-top: 64px;

      #masthead {
        position: fixed;
        z-index: 40;
        width: 100%;
        top: 0;
        left: 0;
      }

      #breadcrumbs {
        position: fixed;
        z-index: 20;
        top: 44px;
        left: 0;
        width: 100%;
        border: none;
      }

      &.hasWireTabs {
        padding-top: 100px;
      }

      #head_button {
        margin-bottom: -1em;
      }

      #content {
        padding-top: 52px;
      }
    }
  }
}

//.PageListItem {
//  &:hover {
//      a {
//        opacity: 1 !important;
//      }
//    }
//}
//
//.PageList .PageListItem .PageListActions.actions {
//  display: block !important;
//  opacity: 1 !important;
//  margin: 4px 0 -3px -4px;
//  > li {
//    &:before {
//      display: none;
//    }
//  }
//
//  a {
//    color: inherit;
//    opacity: 0.5;
//    transition: opacity 0.1s;
//    font-size: 13px;
//    background: transparent;
//    &:hover {
//      //opacity: 1;
//      color: inherit !important;
//      text-decoration: underline;
//    }
//  }
//}
//
//.content .PageList .PageListNumChildren {
//  font-size: 12px;
//  display: inline-block;
//  //background: #bbb;
//  //min-width: 15px;
//  text-align: center;
//  //border: 1px solid #ddd;
//  //border-radius: 12px;
//  //color: #333;
//  //padding: 0 4px;
//  margin: 0;
//  position: relative;
//  top: -5px;
//  left: -3px;
//}
//
//span.PageListNumChildren.detail:empty {
//  display: none;
//}